* {
	outline:none!important;
	-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.TabbedPanels {
overflow: hidden;
margin: 0px;
padding: 0 1px;
clear: none;
width: 100%;
}
.TabbedPanelsTabGroup {
margin: 0px;
padding: 0 0 0 1px;
}
.TabbedPanelsTab {
position: relative;
font-weight: bold;
top: 1px;
float: left;
padding: 10px 20px;
margin: 0px 10px 5px 0px;
font: inherit;
background-color: #f4f4f4;
list-style: none;
-moz-user-select: none;
-khtml-user-select: none;
cursor: pointer;
border: 0;
box-shadow: 1px 1px 1px 1px #dddddd;
-webkit-box-shadow: 1px 1px 1px 1px #dddddd;
border-radius:3px;
-webkit-border-radius:3px;
}
.TabbedPanelsTabHover {
background-color: #ffffff;
box-shadow: 0px 0px 1px 1px #dddddd;
-webkit-box-shadow: 0px 0px 1px 1px #dddddd;
}
.TabbedPanelsTabSelected {
background-color: #FFF;
color: #1a90e0;
box-shadow: 0px 0px 1px 1px #dddddd;
-webkit-box-shadow: 0px 0px 1px 1px #dddddd;
}
.TabbedPanelsContentGroup {
clear: both;
background-color: #ffffff;
margin-top: 54px;
border: 1px solid #dddddd;
border-radius:3px;
-webkit-border-radius:3px;
}
.TabbedPanelsContent {
overflow: hidden;
padding: 4px;
padding: 30px 20px;
}
.TabbedPanelsContent li {
	list-style-image:url(../images/tab-list-bullet.png);
}
h4 {
	margin:0 0 5px 0;
	line-height: 1.6;
}
.line {
	margin-bottom:40px;
}
.last {
	margin-bottom:0px;
}
.twothird {
	width:66%;
	float:left;
}
.onethird {
	width:33%;
	float:right;
}
input[type=radio] {
  opacity: 0;
  z-index: 9999;
  position:relative;
}
/* default radio button style: unchecked */
.overlay {
  display: inline-block;
  position: relative;
  left: -21px; 
  height: 22px;
  width: 22px;
  background: url(../images/bullets.png) no-repeat 0 78%;
-webkit-transition: 0s!important;
-moz-transition: 0s!important;
-ms-transition: 0s!important;
-o-transition: 0s!important;
transition: 0s!important;
}
/* changed style when checked */
input[type=radio]:checked + .overlay {
background: url(../images/bullets.png) no-repeat;
background-position: 0 -46%;
}
.radiotxt {
margin-left: -20px;
}